@using EmaraDesign1.Services
@inject IClientProjectsService getproj


@model Project
@{
    ViewData["Title"] = "GetByClientId";
}

<div class="card" style="width:400px">
    <img class="card-img-top" src="/image/@Model.image" alt="Card image" style="width:100%">
    <div class="card-body">
        <h4 class="card-title">@Model.Name</h4>
        <p class="card-text">@Model.date</p>
        <a href="#" class="btn btn-primary">See Profile</a>
    </div>
</div>