@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Emara Designs</h1>
    <img src="/image/4.jpg" style="width:400px" )
</div>
<br />
To see all project <a href="https://localhost:7269/project">click here</a>

